.body {
    background-color: white;
}

.header{
    background-color: wheat;
    border-bottom: 100% black;
}

.container-navbar {
    background-color: wheat;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 5px;
    border-bottom: 1px solid black;
    padding: 5px;
    flex-direction: row;
   
}

.kucing.png {
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    object-fit: contain;

}

.menu {
    border: 1px solid black;
    padding: 4px 8px;
    border-radius: 6px;
    color: black;
    background-color: white;
    text-decoration: none;
}

.container-content1 {
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 5px;
    border-bottom: 1px solid black;
    padding: 5px;
    flex-direction: row;;
}

.container-content4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

.container-content5 {
    background-color: beige;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    display: flex;
}

.message-form {
    justify-content: center;
    align-items: center;
    display: flex;
}

.container-footer {
    background-color: white;
    display: flex;
    justify-content: right;
    align-items: last baseline;
}

.h1-footer {
    font-size: 100%;

}